@page "/Annuaire-page"
@using BLTools
@using digiuserslib

<PageTitle>Annuaire</PageTitle>

<h1>Annuaire</h1>

<p role="status">Nombre de personnes dans l'annuaire: @People.Count()</p>

@if (DataSource is not null) {
  <table style="width:100%" cellspacing="2" border="1" cellpadding="1">
    <tr>
      <th>Nom</th>
      <th>Titre</th>
      <th>Departement</th>
      <th>SubDepartement</th>
      <th>Téléphone</th>
      <th>Extension</th>
      <th>Tél. mobile</th>
    </tr>
    @foreach (IPerson PersonItem in People.OrderBy(x => x.Departments.First().Name)) {

      <tr>
        <td>@PersonItem.Name.FullName</td>
        <td>@PersonItem.Title</td>
        <td>@PersonItem.Departments.Main.Name</td>
        <td>@PersonItem.Departments.Main.Name.After('/')</td>
        <td>@PersonItem.PhoneNumbers.OfficePhoneNumber.FullPhoneNumber</td>
        <td>@PersonItem.PhoneNumbers.OfficePhoneNumber.Extension</td>
        <td>@PersonItem.PhoneNumbers.MobilePhoneNumber.FullPhoneNumber</td>
      </tr>
    }
  </table>
}

@code {
  private IDataSource? DataSource;

  List<IPerson> People = [];

  // protected override async Task OnInitializedAsync() {
  //   DataSource = new TDataSourceWebWithCache(new Uri("http://localhost:1234"));
  //   if (!await DataSource.OpenAsync()) {
  //     return;
  //   }
  //   if (await DataSource.ReadAsync()) {
  //     People.Clear();
  //     People.AddRange(await DataSource.GetPeopleAsync());
  //   }
  //   StateHasChanged();
  // }
}
