@page "/Annuaire-page"
@using BLTools
@using digiuserslib
@using digiuserslib.Model

<PageTitle>Annuaire</PageTitle>

<h1>Annuaire</h1>

<p role="status">Nombre de personnes dans l'annuaire: @People.Count()</p>

@if (DataSource is not null) {
  <table style="width:100%" cellspacing="2" border="1" cellpadding="1">
    <tr>
      <th>Nom</th>
      <th>Titre</th>
      <th>Departement(s)</th>
      <th>Téléphone</th>
      <th>Extension</th>
      <th>Tél. mobile</th>
    </tr>
    @foreach (IContact PersonItem in People.OrderBy(x => x.FullName)) {
      <tr>
        <td>@PersonItem.FullName</td>
        <td>@PersonItem.Title</td>
        <td>@string.Join(',', PersonItem.Departments)</td>
        <td>@PersonItem.PhoneNumbers.WorkPhoneNumber?.FullPhoneNumber??""</td>
        <td>@PersonItem.PhoneNumbers.WorkPhoneNumber?.Extension</td>
        <td>@PersonItem.PhoneNumbers.MobilePhoneNumber?.FullPhoneNumber</td>
      </tr>
    }
  </table>
}

@code {
  private IDataSourceAsync? DataSource;

  List<IContact> People = [];

  protected override async Task OnInitializedAsync() {
    DataSource = new TDataSourceWeb(new Uri("http://localhost:1234"));
    if (!await ((IDataSourceDMOAsync)DataSource).OpenAsync()) {
      return;
    }
    // if (await DataSource.ReadAsync()) {
    //   People.Clear();
    //   People.AddRange(await DataSource.GetContactsAsync().ToListAsync());
    // }
    StateHasChanged();
  }
}
